services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: tokenboard
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  web:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/tokenboard?schema=public
      JWT_SECRET: replace-with-at-least-32-char-secret
      ENCRYPTION_KEY: LCUAjq8Yhljbp476PyZDlAZXM00Nx4R/qbtbUN7fwJ8=
      CRON_SECRET: replace-with-random-cron-secret
      APP_URL: http://localhost:3000
      NODE_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  pg_data:
